{
  "extends": ["airbnb-typescript", "prettier", "prettier/@typescript-eslint", "prettier/react"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "@typescript-eslint/no-use-before-define": "off",
    "default-case": "off",
    "react/jsx-props-no-spreading": "off",

    "@typescript-eslint/no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": true }],
    "curly": ["error", "all"],
    "prettier/prettier": "error",
    "react/jsx-wrap-multilines": [
      "error",
      { "arrow": true, "return": true, "declaration": true }
    ],
    "sort-keys": ["error", "asc", { "caseSensitive": true, "natural": false }],
    "sort-vars": ["error", { "ignoreCase": true }]
  },
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ]
}
